@using ProjectRecipe.Model;
@{
    //pegar parte nome do usuario
    string nomeUser ="";
    string idUser = "";
    var userLogado = User.FindFirst("name");
    if (userLogado != null)
    {
        nomeUser= userLogado.Value;
    }

    int tamUsuario = nomeUser.Length > 10 ? 10 : nomeUser.Length;
    nomeUser = nomeUser.Substring(0, tamUsuario);

    var idLogado = User.FindFirst("id");
    if (idLogado != null)
    {
        idUser = idLogado.Value;
    }

    nomeUser = nomeUser + "... Id:(" + idUser + ")";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectRecipe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjectRecipe.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container-fluid m-0 p-0">
            <img src="~/images/recipes.jpg" alt="Receita" height="350" width=100%>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Recipe</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <!-- todos 
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        -->

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Política</a>
                        </li>

                        <!-- nao logado-->
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-primary" asp-area="" asp-page="/Login/LoginUser">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-danger" asp-area="" asp-page="/Login/LoginCadastro">Cadastrar</a>
                            </li>
                        }

                        @if (User.Identity.IsAuthenticated)
                        {

                            <!--MENU SOMENTE PARA ADM E GESTOR-->
                            @if ((User.FindFirst("roleid").Value == (((int)UserTypeEnum.admin).ToString())) || (User.FindFirst("roleid").Value == (((int)UserTypeEnum.gestor).ToString())))
                            {

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Category/Categories">Categorias</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Difficulty/Difficulties">Dificuldades</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/PublishEvalution/Publish">Publica Comentários</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/PublishRecipe/PublishRec">Aprova Receita</a>
                                </li>
                            }

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Recipe/Recipes">Receitas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Favorites/Favorite">Favoritos</a>
                            </li>


                            @if (User.FindFirst("roleid").Value == (((int)UserTypeEnum.admin).ToString()))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/User/Users">Usuários</a>
                                </li>
                            }


                            <li class="nav-item">
                                <a class="nav-link text-danger" asp-area="" asp-page="/Login/Logout">Logout</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-primary" asp-area="" asp-page="">Olá @nomeUser * </a>
                            </li>

                        }
                        <!--
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Evaluation/Evaluations">Avaliações</a>
                        </li>
                        -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
         <div class="container">
             Projeto Site Receita - Copyryte Daniela Duarte
         </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>