@page
@model ProjectRecipe.Pages.Category.CategoryUpdateModel
@{
    ViewData["Title"] = "Cadastro de Categoria - Alterar";

}
<h1>@ViewData["Title"]</h1>

<form method = "post">
    <div class="form-group my-3">
        <label for="Id">Id</label>
        <input type="text" class="form-control" id="Id" asp-for=@Model.novoDado.Id  placeholder="Informe o Id" readonly>
    </div>

    <div class="form-group my-3">
        <label for="Category">Nome da categoria</label>
        <input type="text" class="form-control" id="Category" asp-for=@Model.novoDado.Category placeholder="Informe o nome da categoria">
    </div>

    <div class="form-group my-3">

        <a class="btn btn-secondary btn-color-volta" asp-page="/Category/Categories" role="button">Voltar</a>
        <button type="submit" class="btn btn-warning btn-color-confirma">Alterar</button>


    </div>
</form>

