@page
@model IndexModel
@using ProjectRecipe.Model;
@{
    ViewData["Title"] = "Home page";
    int tamLista = Model.ListaReceita.Count;
    string fotoPadrao = "book1.jpg";
    string fotoCadastro = "";
    int tamTitulo = 0;
    int tamPreparation = 0;

    int idLogado = 0;
    var userPesquisa = User.FindFirst("id");
    if (userPesquisa != null)
    {
        idLogado = Convert.ToInt32(userPesquisa.Value);
    }
}

<div class="container-fluid">

    @for( int i =0; i < Model.ListaReceita.Count; i++)
    {
        <div class="row justify-content-around m-3 p-0">

            @for( int c = 0; c < 3; c++)
            {
                @if( i < tamLista)
                {
                    tamTitulo = Model.ListaReceita[i].Title.Length > 30 ? 30 : Model.ListaReceita[i].Title.Length;
                    tamPreparation = Model.ListaReceita[i].Preparation.Length > 80 ? 80 : Model.ListaReceita[i].Preparation.Length;
                    fotoCadastro = Model.ListaReceita[i].Photo;
                    fotoCadastro = fotoCadastro.Equals("0") || string.IsNullOrEmpty(fotoCadastro) ? fotoPadrao : fotoCadastro;

                    <div class="card col-sm-3" >
                        <div class="card-body">
                            <center>
                                <a href="/RecipeDetalhe/RecipeDetalhes?id=@Model.ListaReceita[i].Id" target="_blank" style="text-decoration:none; color: black;">
                                    <h5 class="card-title text-uppercase">@Model.ListaReceita[i].Title.Substring(0,tamTitulo) </h5>
                                </a>
                            </center>
                            <a href="/RecipeDetalhe/RecipeDetalhes?id=@Model.ListaReceita[i].Id" target="_blank">
                                <img src="./images/@fotoCadastro" class="card-img-top" height="200px" width="100%" alt="foto receita">
                            </a>
                            
                            <div class="m-5dql">
                                
                                @if (idLogado > 0)
                                {

                                    if (Model.ListaReceita[i].Favorite == FavoriteEnum.Favorite)
                                    {
                                        if (Model.ListaReceita[i].IdUser == idLogado)
                                        {

                                           <p class=" btn btn-danger">FAVORITO</p> 

                                        }
                                    }
                                }

                            </div>

                            <p class="card-text p-3"> @Model.ListaReceita[i].Preparation.Substring(0,tamPreparation)</p>
                            <a href="/RecipeDetalhe/RecipeDetalhes?id=@Model.ListaReceita[i].Id" class="btn btn-dark" target="_blank">Saiba mais sobre Receita</a>
                        </div>
                    </div>
                }
                i++;
            }
        </div>
        i--;
    }




</div>