@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política e Privacidade";
}
<h1> @ViewData["Title"]</h1>

<br /> <h2>Site desenvolvido para conclusão do curso Assembly</h2>

<br />

<div>
    Levamos muito a sério as suas informações. Por essa razão, este documento descreve como trataremos (coletaremos,
    guardaremos, processaremos, compartilharemos, transferiremos ou de qualquer forma utilizaremos) as informações que 
    tivermos acesso em razão da utilização da Plataforma www.tudogostoso.com.br e/ou do aplicativo, bem como as práticas 
    de privacidade adotadas para salvaguardar tais informações, em especial observância à Lei nº 13.709/18 (“Lei Geral de 
    Proteção de Dados” ou “LGPD”). Esta Plataforma, bem como seu conteúdo, pertence à Webedia Brasil (“Webedia”).

    Caso tenha qualquer dúvida sobre o tratamento dos seus dados ou queira exercer seus direitos, por favor entre 
    em contato com nosso encarregado de proteção de dados, através do e-mail dpo.tudogostoso@webedia-group.com
</div>

<br />

<h2>1. Quadro informativo</h2>

<br />

<div>
    <div>
        Todas as disposições desta Política de Privacidade são extremamente importantes para a nossa 
        relação com você. Para facilitar a sua leitura, preparamos o quadro abaixo com os principais termos que você deve se atentar.
    </div>
    <br />
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Termo</th>
                    <th scope="col">Conceito</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Dado Pessoal</th>
                    <td>
                        É uma informação relacionada a uma pessoa física e que seja capaz de identificar a pessoa ou tornar possível a sua identificação.
                        São exemplos de dados pessoais que podem permitir a sua identificação: Nome, CPF, telefone, e-mail, etc.
                    </td>
                </tr>
                <tr>
                    <th scope="row">Tratamento</th>
                    <td>É toda forma de uso que podemos fazer dos seus Dados Pessoais, incluindo, mas não se limitando às seguintes atividades: 
                        coleta, armazenamento, consulta, uso, compartilhamento, transmissão, classificação, reprodução, exclusão e avaliação.</td>
                </tr>
                <tr>
                    <th scope="row">Usuário</th>
                    <td>É você, a pessoa física, que utilizará a Plataforma, maior de 16 (dezesseis) anos ou emancipado e totalmente capaz de praticar 
                        os atos da vida civil ou o absolutamente ou relativamente incapaz devidamente representado ou assistido. </td>
                </tr>
                <tr>
                    <th scope="row">Finalidade</th>
                    <td>
                        O que a Webedia, objetiva a partir do tratamento de dados
                    </td>
                </tr>
                <tr>
                    <th scope="row">Consentimento</th>
                    <td>
                        Autorização livre, informada e inequívoca (sem deixar dúvidas) pela qual o titular concorda com o tratamento de seus dados pessoais para uma finalidade 
                        previamente estipulada. Após conceder o seu consentimento, você pode revogá-lo a qualquer momento. 
                        A revogação do seu consentimento não cancela os processamentos realizados previamente a essa revogação.
                    </td>
                </tr>
                <tr>
                    <th scope="row">Plataforma</th>
                    <td>
                        Somos nós, a Plataforma www.tudogostoso.com.bre seu respectivo aplicativo disponível na Play Store e Apple Store
                    </td>
                </tr>
                <tr>
                    <th scope="row">Política</th>
                    <td>
                        É esta Política de Privacidade.
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<br />
<h2>2. Apresentações</h2>
<br />
<div>
    2.1. A quais dados esse documento se refere? Essa Política de Privacidade diz respeito às informações que podem identificar ou permitir a identificação de uma pessoa natural, como nome, CPF, número de telefone, 
    e-mail ou endereço.
    2.2.Quem é responsável pelo processamento dos seus dados pessoais? A responsável (controladora) pelo tratamento de seus dados pessoais é a WEBEDIA INTERNET BRASIL S.A., 
    sociedade anônima, com sede na Cidade do Rio de Janeiro, Estado do Rio de Janeiro, na R. Dom Gerardo, 42, 7º andar - Centro, Rio de Janeiro - RJ, 20090-030, inscrita no CNPJ/MF 
    sob o n.º 16.756.491/0001-35.
</div>

<br />

<h2>3. Continuação da Política...</h2>