@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy.Daniela";
}
<h1>teste: @ViewData["Title"]</h1>

<p class="alert alert-info">Use this page to detail your site's privacy policy.</p>
